<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUDNodeJS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/show">CrudNode</a>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/show">Registros</a>
      <a class="nav-item nav-link" href="/">Inserir</a>
    </div>
  </nav>

  <div class="container">
    <h2>Editar Registro</h2>
    <% data.forEach(function(details) { %>
    <form action="/edit/<%= details._id %>" method="POST"> 
      <div class="row">
        <div class="col">
          <label for="name">Nome</label>
          <input type="text" class="form-control" placeholder="Nome" name="name" value="<%= details.name %>">
        </div>
        
        <div class="col">
          <label for="surname">Sobrenome</label>
          <input type="text" class="form-control" placeholder="Sobrenome" name="surname" value="<%= details.surname %>">
        </div>
        
        <div class="col">
          <label for="gender">Gênero</label>
          <select class="custom-select" name="gender">
            <option disabled value="">Selecione seu gênero...</option>
            <option <%= details.gender == 'Masculino' ? 'selected' : '' %>>Masculino</option>
            <option <%= details.gender == 'Feminino' ? 'selected' : '' %>>Feminino</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="name">RG</label>
          <input type="text" class="form-control" placeholder="RG" name="rg" value="<%= details.rg %>">
        </div>
        <div class="col">
          <label for="name">CPF</label>
          <input type="text" class="form-control" placeholder="CPF" name="cpf" value="<%= details.cpf %>">
        </div>
        <div class="col">
          <label for="born">Data de Nascimento</label>
          <input type="date" class="form-control" name="born" value="<%= details.born %>">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="name">Telefone Residencial</label>
          <input type="tel" class="form-control" placeholder="Telefone Residencial" name="telefone" value="<%= details.telefone %>">
        </div>
        
        <div class="col">
          <label for="name">Telefone Celular</label>
          <input type="tel" class="form-control" placeholder="Telefone Celular" name="celular" value="<%= details.celular %>">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="email">Endereço de Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="nome@exemplo.com" value="<%= details.email %>">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="endereco">Endereço</label>
          <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Rua Qwerty" value="<%= details.endereco %>">
        </div>
        <div class="col">
          <label for="numero">Numero</label>
          <input type="number" class="form-control" id="numero" name="numero" placeholder="Número" value="<%= details.numero %>">
        </div>
        <div class="col">
          <label for="cidade">Cidade</label>
          <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade" value="<%= details.cidade %>">
        </div>
        <div class="col">
          <label for="estado">Estado</label>
          <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado" value="<%= details.estado %>">
        </div>
      </div>
      
      <div class="row">
        <div class="col-1">
          <label>Interesses: </label>
        </div>        
        <div class="col-auto my-1">
          <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="frontend" name="frontend" <%= details.frontend == 'frontend' ? 'checked' : '' %>>
            <label class="custom-control-label" for="frontend">Front-end</label>
          </div>
        </div>
        <div class="col-auto my-1">
          <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="web" name="web" <%= details.web == 'web' ? 'checked' : '' %>>
            <label class="custom-control-label" for="web">Web</label>
          </div>
        </div>
        <div class="col-auto my-1">
          <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="backend" name="backend" <%= details.backend == 'backend' ? 'checked' : '' %>>
            <label class="custom-control-label" for="backend">Back-end</label>
          </div>
        </div>
        <div class="col-auto my-1">
          <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="mobile" name="mobile" <%= details.mobile == 'mobile' ? 'checked' : '' %>>
            <label class="custom-control-label" for="mobile">Mobile</label>
          </div>
        </div>
        <div class="container">
          <a href="/show" class="btn btn-outline-secondary" role="button">Cancelar</a>
          <button class="btn btn-primary" type="submit">Editar</button>
      </div>
      </form>
  </div>


    <!--
    <form action="/edit/<%= details._id %>" method="POST">
      Nome: 
      <input type="text" value="<%= details.name %>" name="name">
      <input type="text" value="<%= details.surname %>" name="surname">
      <br>
      RG: 
      <input type="text" value="<%= details.rg %>" name="rg">
      <br>
      CPF: 
      <input type="text" value="<%= details.cpf %>" name="cpf">
      <br>
      Sexo: Não funciona a edição
      <input type="radio" id="male" name="gender" value="<%= details.gender %>">
      <label for="male">Masculino</label>
      <input type="radio" id="female" name="gender" value="<%= details.gender %>">
      <label for="female">Feminino</label>
      <br>
      Data de Nascimento: Não funciona a edição
      <input type="date" value="<%= details.date %>" name="born">
      <br>
      Telefone: 
      <input type="tel" value="<%= details.telefone %>" name="telefone">
      <input type="tel" value="<%= details.celular %>" name="celular">
      <br>
      Email: 
      <input type="email" value="<%= details.email %>" name="email">
      <br>
      Endereço: 
      <input type="text" value="<%= details.endereco %>" name="endereco">
      <input type="number" value="<%= details.numero %>" name="numero">
      <br>
      Área de Interesse:
      <input type="checkbox" id="interesse" name="frontend" value="Front-end">
      <label for="interesse">Front-end</label>
      <input type="checkbox" id="interesse" name="backend" value="Back-end">
      <label for="interesse">Back-end</label>
      <input type="checkbox" id="interesse" name="web" value="Web">
      <label for="interesse">Web</label>
      <input type="checkbox" id="interesse" name="mobile" value="Mobile">
      <label for="interesse">Mobile</label>
      <br>
      <button><a href="/show">Registros</a></button>
      <button type="submit">Editar</button>
    </form>
    -->
  <% }) %>

</body>
</html>